*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

body{
    background-color: #000;
    font-family: sans-serif;
}

header {
    height: 90px;
    padding: 5px;
}

span {
    color: #fff;
}

/* utility */

.debug {
    border: 2px dashed white;
    color: #fff;
}

.container {
    width: 1600px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* header */

.option {
    display: flex;
    justify-content: end;
}

.option>span {
    background-color: rgb(78, 78, 78);
    padding: 3px;
    border-radius: 5px;
    margin-left: 5px;
}

.option>span {
    cursor: pointer;
}


/* main */

main {
    height: calc(100vh - 180px);
    overflow-y: auto;
}

/* cards */

.card {
    width: calc(100% / 7 - 10px);
    margin: 10px 5px;
    position: relative;
}

.card>img {
    width: 100%;
    height: auto;
    display: block;
}

.nick-name {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 5px;
}

/* footer */

footer {
    height: 90px;
}