*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* generics */

body{
    background-color: #000;
    font-family: sans-serif;
}

header {
    height: 90px;
    padding: 5px;
}

span {
    color: #fff;
}

/* utility */

.debug {
    border: 2px dashed white;
    color: #fff;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


/* header */

.option {
    display: flex;
    justify-content: end;
}

.option>span {
    background-color: rgb(78, 78, 78);
    padding: 3px;
    border-radius: 5px;
    margin-left: 5px;
}

.option>span {
    cursor: pointer;
}


/* main */

main {
    height: calc(100vh - 180px);
    overflow-y: auto;
}

/* cards */

.card {
    width: calc(100% / 7 - 10px);
    margin: 10px 5px;
    position: relative;
}

.card>img {
    width: 100%;
    height: auto;
    display: block;
}

.nick-name {
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 5px 5px;
}

.nick-name:hover {
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
}
/* footer */

footer {
    background-color: #222222;
    height: 90px;
}

.footer-settings {
    padding: 10px;
    color: #fff;
    display: flex;
    text-align: center;
    position: relative;
}

.personal-input {
    display: flex;
    align-items: center;
}

.interaction {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.end-meeting  {
    color: red;
    background-color: #4a4a4a;
    padding: 25px 25px;
    font-size: 10px;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 0;
}

.icon-input {
    font-size: 25px;
    margin: 5px 20px;
}
.input-choose {
    font-size: 10px;
    margin: 0 20px
}